  <% if logged_in? && obj.user == current_user %>
  <div class="article-actions">
    <%= link_to 'Edit', edit_article_path(obj)%>
     <%= link_to("Delete", obj, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }) %>
    <%# <%= button_to "Delete", article_path(obj), method: :delete %>
  </div>
<% end %>
