Showing articles details

<p><strong> <%= @article.article_title %> </strong></p>
<p> <%= @article.article_description %> </p>



<div class="article-actions">
  <%= render 'article_actions', obj: @article %>
  <%= link_to 'Go Back', articles_path %>
</div>
